body{
    background-image: url("../Images/paico-oficial-wFbvRRFTRoc-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.bodyCardImg {
    max-height: 100%;
}