@model List<Agenda.Models.DailyTask>

<h2>Task-urile pentru astazi sunt</h2>
@using(Html.BeginForm(actionName: "NewTask", controllerName: "Tasks", method: FormMethod.Post))
{
<button class="btn btn-primary" type="submit"><i class="fas fa-plus"></i> &nbsp;Adauga task nou</button>
}

<br />
<br />
<div class="d-flex flex-row flex-wrap justify-content-between align-content-between">
    @foreach(var item in Model)
    {
    <div class="card" style="width: 18rem">
        <div class="card-header font-weight-bold">
            @item.TitluTask
        </div>
        <div class="card-body">

            <p class="font-weight-bold">Prioritate: @item.Prioritate</p>
            <p class="card-text">Deadline: @item.Deadline</p>
            @using (Html.BeginForm(actionName: "DetaliiTask", controllerName: "Tasks", method: FormMethod.Get, routeValues: new { id = item.DailyTaskId }))
            {
                <button class="btn btn-primary" type="submit">Detalii</button>
            }
            
        </div>
    </div>
    }

</div>