<link rel="stylesheet" href="~/Content/Style/IndexLista.css"/>
@{
    ViewBag.Title = "Index";
}
<h3>Liste cumparaturi</h3>
<br />
<br />

<p>Produsele din listele de cumparaturi</p>
@using (Html.BeginForm(actionName: "Index", controllerName: "Products", method: FormMethod.Get))
{
    
    <button class="btn btn-info" type="submit"><i class="fa fa-list" aria-hidden="true"></i> &nbsp; Afiseaza produse</button>
}
<div class="mainContainer">
    @foreach (var item in ViewBag.Lists)
    {
        <div class="card" style="width: 18rem;">
            <div class="cardBody">
                <div class="card-header">
                    <p><strong>@item.Titlu</strong></p>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var prd in item.Products)
                    {
                        <li class="list-group-item">@prd.Denumire, @prd.Cantitate</li>

                    }
                </ul>
                @using (Html.BeginForm(actionName: "AddProduct", controllerName: "Products", method: FormMethod.Post, routeValues: new { id = item.ShoppingListId }))
                {
            <button class="btn btn-secondary" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add product</button>
                }
                <br />
                @using (Html.BeginForm(actionName: "DeleteList", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { id = item.ShoppingListId }))
                {
                    <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Delete lista</button>
                }
            </div>
            
        </div>

    }
</div>


