@{
    ViewBag.Title = "Index";
}
<br />
<link rel="stylesheet" href="~/Content/Style/lista.css" />
<h3>Liste cumparaturi</h3>
<br />



@using (Html.BeginForm(actionName: "Index", controllerName: "Products", method: FormMethod.Get))
{

    <button class="btn btn-info" type="submit"><i class="fa fa-list" aria-hidden="true"></i> &nbsp; Afiseaza produse</button>
}
<br />
<br />

@using (Html.BeginForm(actionName: "NewList", controllerName: "ShoppingList", method: FormMethod.Get))
{

    <button class="btn btn-info" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Adauga lista cumparaturi</button>
}
<br />
<br />

@foreach (var item in ViewBag.Lists)
{
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p><strong>@item.Titlu</strong></p>
            </div>
            <div class="panel-body">
                <ul class="list-group list-group-flush">
                    @foreach (var prd in item.Products)
                    {
                        <li class="list-group-item">@prd.Denumire, @prd.Cantitate</li>

                    }
                </ul>
                @using (Html.BeginForm(actionName: "AddProductInList", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { id = item.ShoppingListId }))
                {
                    <button class="btn btn-warning" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add product</button>
                }
                <br />
                @using (Html.BeginForm(actionName: "Details", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { id = item.ShoppingListId }))
                {
                    <button class="btn btn-info" type="submit"><i class="fa fa-info" aria-hidden="true"></i> &nbsp; Detalii lista</button>
                }
            </div>

        </div>

    </div>

}





