@model Planner.Models.DailyTask


<h1>DetaliiTask</h1>
<p>@Model.TitluTask</p>
<p>Prioritate: @Model.Prioritate</p>
<p>Deadline: @Model.Deadline</p>
<p>Detalii: @Model.Detalii</p>
<span>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "DailyTasks", method: FormMethod.Get, routeValues: new { id = Model.DailyTaskId }))
    {
        <button class="btn btn-danger" type="submit"><i class="fa fa-edit"></i> &nbsp; Update task</button>
    }

    <br />
    <br />

    @using (Html.BeginForm(actionName: "DeleteTask", controllerName: "DailyTasks", method: FormMethod.Post, routeValues: new { id = Model.DailyTaskId }))
    {
        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> &nbsp; Done</button>
    }
</span>

© 2020 GitHub, Inc.