@model Planner.Models.DailyTask

<link rel="stylesheet" href="~/Content/Style/apt.css" />
<br />
<br />
@using (Html.BeginForm(actionName: "Index", controllerName: "DailyTasks", method: FormMethod.Get))
{
    <button class="btn btn-info" type="submit"><i class="fa fa-home"></i> &nbsp; Home</button>
}
<br />


<div class="panel panel-info">
    <div class="panel-heading">@Model.TitluTask</div>
    <div class="panel-body">
        <p><strong> Prioritate: </strong>@Model.Prioritate</p>
        <p><strong> Deadline: </strong>@Model.Deadline</p>
        <p><strong> Detalii: </strong>@Model.Detalii</p>
    </div>
    <div class="panel-footer">
        <div style="display: inline-block">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "DailyTasks", method: FormMethod.Get, routeValues: new { id = Model.DailyTaskId }))
            {
                <button class="btn btn-danger" type="submit"><i class="fa fa-edit"></i> &nbsp; Update</button>
            }

            <br />
            @using (Html.BeginForm(actionName: "DeleteTask", controllerName: "DailyTasks", method: FormMethod.Post, routeValues: new { id = Model.DailyTaskId }))
            {
                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> &nbsp; Delete</button>
            }
        </div>
    </div>
</div>

