@model List<Planner.Models.DailyTask>

<h2>Task-urile pentru astazi sunt</h2>
@using (Html.BeginForm(actionName: "NewTask", controllerName: "DailyTasks", method: FormMethod.Post))
{
    <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i> &nbsp;Adauga task nou</button>
}

<br />
<br />

    @foreach (var item in Model)
    {
        <div class="col-xs-4">
            <div class="panel panel-info" style="width: 18rem">
                <div class="panel-heading">
                    @item.TitluTask
                </div>
                <div class="panel-body">

                    <p><strong> Prioritate: </strong>@item.Prioritate</p>
                    <p><strong>Deadline: </strong>@item.Deadline</p>
                </div>
                <div class="panel-footer">
                    @using (Html.BeginForm(actionName: "DetaliiTask", controllerName: "DailyTasks", method: FormMethod.Get, routeValues: new { id = item.DailyTaskId }))
                    {
                        <button class="btn btn-primary" type="submit"><i class="fa fa-info" aria-hidden="true"></i> &nbsp; Detalii</button>
                    }
                </div>
            </div>
        </div>
        
    }

